<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page Title</title>
  <link rel="stylesheet" href="SLTIET/styles.css">
</head>

<body>
  <div class="start"><button>Start Quiz</button></div>

  <div class="info-box">

    <div class="info-title">Rules of this quiz</div>
    <div class="info-list">
      <div class="info"><i class="fas fa-asterisk"></i> You only have <span>10 seconds</span> for each question.</div>
      <div class="info"><i class="fas fa-asterisk"></i> You have to select an option before you can go to the next
        question.</div>
      <div class="info"><i class="fas fa-asterisk"></i> You cannot exit the quiz while playing.</div>
      <div class="buttons">
        <button class="quit">Exit Quiz</button>
        <button class="cont">Continue</button>
      </div>
    </div>

  </div>

  <div class="quiz-box">
    <header>
      <div class="title">
        <img src="SLTIET/SLTEIT.jpg" alt="SLTIET Logo" style="height: 1em; vertical-align: middle;">
        SLTIET
      </div>
      <div class="timer">
        <div class="text">Time left </div>
        <div class="sec">10</div>
      </div>
      <div class="timeline"></div>
    </header>

    <!-- question section -->
    <section>
      <div class="question">
        <!-- question goes in here -->
      </div>
      <div class="option-list">
        <div class="option">
          <!--options goes in here -->
        </div> 
      </div>
    </section>


    <!-- Quiz footer -->
    <footer>
      <div class="total-questions">
        <!-- question count goes in here -->
      </div>
      <button class="next">Next</button>
    </footer>
  </div>

  <!-- Result section-->
  <div class="result-box">
    <div class="icon">
      <!--    <i class = "fa fa-crown"></i>--><img src="https://www.dropbox.com/s/2b81pov6c4nuev3/crown.png?dl=1">
    </div>
    <div class="complete-text">You have completed the quiz !</div>
    <div class="score-text">
      <!--   score text goes in here -->
    </div>
    <div class="buttons">
      <button class="restart">Replay</button>
      <button class="exit">Exit</button>
    </div>
  </div>

  <!--JavaScript-->
  <script src="SLTIET/script.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="SLTIET/data.js"></script>

</body>

</html>